<div class="flex p-5">
  <div>
    <img src="../../assets/logo.png" class="logo" alt="" />
  </div>

  <div class="flex-grow"></div>
  <div class="hidden md:block">
    <nav class="text-white flex items-center h-full">
      <ul class="flex gap-14 font-bold lg:gap-24">
        <li class="">
          <a class="" href="#">Home</a>
        </li>
        <li class="">
          <a class="" href="#">Menu</a>
        </li>
        <li class="">
          <a class="" href="#">About</a>
        </li>
        <li class="">
          <a class="" href="#">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
