<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
</div>
<div class="modal-body">
  <p>
    To order, just message us on Instagram
    <a
      class="font-bold text-blue-400"
      href="https://instagram.com/moodycafe.ph?igshid=NTdlMDg3MTY="
      target="_blank"
      >(moodycafe.ph)</a
    >
    and we will get right back to you!
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
