<div>
  <app-header class="absolute w-full z-10"></app-header>
  <img id="home" src="../../assets/bg-4.jpg" class="bg-img" alt="" />
  <div
    class="slogan z-20 text-lg sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl left-8 md:left-10 text-white font-bold absolute"
  >
    <p>Cookie and Coffee <br />for every mood</p>
  </div>
  <div id="menu" class="mt-5">
    <div
      class="mb-5 flex justify-center font-bold sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl"
    >
      OUR MENU
    </div>
    <div class="flex justify-center">
      <img class="menu-img" src="../../assets/menu.png" alt="" />
    </div>
  </div>

  <div class="w-full mt-5 mb-10 flex justify-center">
    <!-- <div
      class="mb-5 flex justify-center flex-column font-bold sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl"
    >
      CONTACT US
    </div> -->
    <button (click)="openModal()">ORDER NOW</button>

    <!-- <div
      class="mb-5 flex justify-center sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl"
    >
      Want to order? Message us here!
    </div>
    <div class="mb-5 flex justify-center items-center">
      <img src="../../assets/ig-logo.svg" width="50px" height="50px" alt="" />
      <a
        class="font-bold"
        href="https://instagram.com/moodycafe.ph?igshid=NTdlMDg3MTY="
        target="_blank"
        >moodycafe.ph</a
      >
    </div> -->
  </div>

  <div id="contact-us" class="w-full mt-5 mb-10">
    <div
      class="mb-5 flex justify-center font-bold sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl"
    >
      CONTACT US
    </div>

    <div
      class="mb-2 flex justify-center sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl"
    >
      Follow and message us here!
    </div>
    <div class="mb-5 flex justify-center items-center">
      <img src="../../assets/ig-logo.svg" width="50px" height="50px" alt="" />
      <a
        class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl"
        href="https://instagram.com/moodycafe.ph?igshid=NTdlMDg3MTY="
        target="_blank"
        >moodycafe.ph</a
      >
    </div>
  </div>
</div>
